PORT=3000
PUBLIC_BASE_URL=https://SEU-SERVICO.onrender.com

META_CLIENT_ID=SEU_INSTAGRAM_APP_ID
META_CLIENT_SECRET=SUA_CHAVE_SECRETA_DO_INSTAGRAM_APP
META_REDIRECT_URI=https://SEU-SERVICO.onrender.com/api/meta/callback

META_AUTH_URL=https://www.instagram.com/oauth/authorize
META_TOKEN_URL=https://api.instagram.com/oauth/access_token
META_GRAPH_URL=https://graph.instagram.com
META_SCOPES=instagram_business_basic,instagram_business_content_publish
